@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


*{
    box-sizing: border-box;
}

:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

body{
    font-family: 'Epilogue', sans-serif;
    background-color: var(--almost-white);    
    color:rgb(82, 82, 82);
    padding:0px;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

main{
    width: 100vw;
    padding: 1.5rem 2.5rem;
    overflow: hidden;
}

header, section{
    display: flex;
    flex-direction: row;
    align-items: center;   
}
 
header > *{
    /* outline: 1px solid; */
    display: flex;
    align-items: center;
}

.logo, nav{
    display: inline-block;
    align-items: center; 
}

.logo{
    height: 2rem;
}

.menu{
    display: flex;
    flex:3;
}

.account-area{
    display: flex;
    flex: 1;
    justify-content: end;
}

.account-area button:hover{
    color: var(--almost-black);
}

nav{
    flex:2;
}

nav ul li{
    display: inline-block;
    padding: 0.5rem 0.75rem;
    position: relative;
    color: var(--medium-gray);
    font-size: 0.9rem;
    height: 2.5rem;
}

ul.sub-menu{
    display: none;
}

nav ul li:hover{
    color: var(--almost-black);
    cursor: pointer;
}

nav ul li:hover ul.sub-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    box-shadow: 0rem 0.55rem 2.75rem #c4c4c4;
    width: 10rem;
}

ul.features-menu{
    left: -4rem;
}

ul.company-menu{
    right: -4rem;
}

nav ul li:hover ul.sub-menu li{
    display: block;
    /* width: 100%; */
}

ul.sub-menu li span{
    margin-right: 0.5rem;
}

button{
    background: transparent;
    border: 1.5px solid var(--almost-black);
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    color: var(--medium-gray);
    cursor: pointer;
}

button.login{
    border: 0px;
    margin-right: 2rem;
}

section{
    padding: 2rem 6rem;
}

section > *{
    width: clamp(40rem, 50vw, 80rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right{
    align-items: center;
    overflow: hidden;
    margin-top: -1rem;
    width: clamp(340px, 34vw, 30rem);
    background-image: url("images/image-hero-desktop.png");
    background-size: cover ;
    height: 40rem;
    background-position: center;
}

h1{
    font-size: clamp(32px, 6vw, 5.9rem);
    color: var(--almost-black);
    margin-bottom:1rem;
    margin-top: 3rem;
    display: block;
}

p{
    color: var(--medium-gray);
    line-height: 1.75rem;
    font-size: 1.15rem;
    width: 35vw;
    margin-bottom: 3rem;
}

button.cta{
    background-color: var(--almost-black);
    width: 10rem;
    font-size: 1rem;
    color: var(--almost-white);
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 5rem;
}

button.cta:hover{
    background-color: transparent;
    color: var(--almost-black);
}


.clients img{
    padding-right: 2rem;
}

.mobile-menu-icon{
    display: none;
    cursor: pointer;
}



@media (max-width:980px){
    main{
        padding: 1.5rem;
    }

    header{
        display: block;
    }

    .mobile-menu-icon{
        display: block;
        right: 1.25rem;
        top: 1.5rem;
        position: absolute;
        background: url('images/icon-menu.svg');
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 3;
    }

    .mobile-menu-icon.active{
       background: url('images/icon-close-menu.svg');
    }

    .menu nav, .menu .account-area{
        display: flex;
        flex-direction: column;
    }

    body::before{
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        position: absolute;
        background: rgba(0,0,0,0);
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
    }

    body.active::before {
        background-color: rgba(0,0,0,0.5);
    }

    .menu{
        transform: translateX(800px);
        flex-direction: column;
        transition: all ease-in-out 0.8s;
        height: 100vh;
        width: 70vw;
        padding: 2rem;
        top: 0;
        right: 0;
        align-items: baseline;
        position: absolute;
        z-index: 2;
    }

    .menu.active{
        background-color: var(--almost-white);
        transform: translateX(0px);
       
    }

    nav, nav ul li{
        flex:0;
        display: block;
        height: unset;
        font-size: 1rem;
        padding: 0.75rem 0 0.5rem;
    }

    ul{
        padding-left: 0.5rem;
    }

    .account-area{
        flex-direction: column;
        justify-content: normal;
        width: 100%;
    }

    .account-area button{
        width: 100%;
    }

    .left {
        z-index: 1;
    }

    nav ul li:hover ul.sub-menu{
        display: none;
    }

    nav ul li.active ul.sub-menu{
        display: block;
        flex-direction: column;
        box-shadow: none;
        background-color: var(--almost-white);
        position: relative;
        top: 0rem;
        left: 0.5rem;
        border-radius: 0.5rem;
        padding: 1rem 0.5rem 0.5rem;
        width: 10rem;
        margin-bottom: 0rem;

    }

    ul.sub-menu.active li{
        display: block;
    }

    section{
        flex-direction: column-reverse;
        padding: 2rem 0;
    }

    section > *{
        width: 100%;
    }

    .right{
        background-image: url("images/image-hero-mobile.png");
        height: 75vw;
        width: 100%;
        position: absolute;
        top: 6rem;
        margin-bottom: 10rem;
    }

    .left{
        margin-top: 75vw;
    }

    h1{
        margin: 3rem 0 0.75rem;
    }

    h1, p{
        text-align: center;
    }

    p{
        width: 90vw;
        margin: 0.5rem 0 1.5rem;
        font-size: 1.1rem;
    }

    button.cta{
        align-self: center;
        margin-bottom: 2rem;
    }

    .clients{
        display: flex; 
        flex-direction: row;
        margin-top: 1.5rem;
        justify-content: center;
    }

    .clients img{
        padding: 0 1rem;
        height: 1.15rem;
    }

}
